/*!
Theme Name: Advert Theme Child
Theme URI: #
Author: Viktor Kono
Author URI: #
Template: advert-theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: responsive-layout
Text Domain: advertthemedomain
*/body{position:relative}.site-header{padding:15px 5%}.menu{display:flex;list-style:none;margin-bottom:0}.menu .menu-item{padding-right:30px}.menu .menu-item:last-child{padding-left:30px;padding-right:0;position:relative}.menu .menu-item:last-child a:before{background-image:url(images/icons/plus-svgrepo.svg);background-position:50%;background-repeat:no-repeat;background-size:contain;content:"";display:inline-block;height:26px;left:0;margin-right:5px;position:absolute;width:26px}.cards-wrapper{padding-bottom:50px;padding-top:50px}.card{height:255px;overflow:hidden}.card-img{height:150px;object-fit:cover;width:100%}.card-title{-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;overflow:hidden}.progress-spinner{align-items:center;background-color:hsla(0,0%,80%,.66);display:none;height:100vh;justify-content:center;left:0;position:absolute;top:0;width:100%}.lds-ellipsis{display:inline-block;height:80px;position:relative;width:80px}.lds-ellipsis div{animation-timing-function:cubic-bezier(0,1,1,0);background:#007bff;border-radius:50%;height:13px;position:absolute;top:33px;width:13px}.lds-ellipsis div:first-child{animation:lds-ellipsis1 .6s infinite;left:8px}.lds-ellipsis div:nth-child(2){animation:lds-ellipsis2 .6s infinite;left:8px}.lds-ellipsis div:nth-child(3){animation:lds-ellipsis2 .6s infinite;left:32px}.lds-ellipsis div:nth-child(4){animation:lds-ellipsis3 .6s infinite;left:56px}@keyframes lds-ellipsis1{0%{transform:scale(0)}to{transform:scale(1)}}@keyframes lds-ellipsis3{0%{transform:scale(1)}to{transform:scale(0)}}@keyframes lds-ellipsis2{0%{transform:translate(0)}to{transform:translate(24px)}}@media (max-width:500px){.site-title{font-size:1.5rem}.menu{flex-direction:column}.menu .menu-item:last-child{padding-left:0}.menu .menu-item:last-child a:before{left:-30px}}