/*!
Theme Name: Advert Theme Child
Theme URI: #
Author: Viktor Kono
Author URI: #
Template: advert-theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: responsive-layout
Text Domain: advertthemedomain
*/

body {
    position: relative;
}

.site-header {
    padding: 15px 5%;
}

.menu {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.menu .menu-item {
    padding-right: 30px;
}

.menu .menu-item:last-child {
    position: relative;
    padding-right: 0;
    padding-left: 30px;
}

.menu .menu-item:last-child a::before {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(images/icons/plus-svgrepo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
}

/* Cards */
.cards-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    height: 255px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-title {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.progress-spinner {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(204 204 204 / 66%);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #007bff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

@media (max-width: 500px) {
    .site-title {
        font-size: 1.5rem;
    }

    .menu {
        flex-direction: column;
    }

    .menu .menu-item:last-child {
        padding-left: 0;
    }

    .menu .menu-item:last-child a::before {
        left: -30px;
    }
}

